<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joanneumprojekt">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JoanneumProjekt">
        <activity
            android:name=".ui.Student.Master"
            android:exported="false" />
        <activity
            android:name=".ui.Student.Bachelor"
            android:exported="false" />
        <activity
            android:name=".ui.Student.Project"
            android:exported="false" />
        <activity
            android:name=".Admin.Interface_Work_ADD"
            android:exported="false" />
        <activity
            android:name=".Admin.Interface_ADD"
            android:exported="false" />
        <activity
            android:name=".Admin.ADMIN_INTERFACE"
            android:exported="false" />
        <activity
            android:name=".Assistent.ProfessorLogin"
            android:exported="false" />
        <activity
            android:name=".SignUP.Login_Interface"
            android:exported="false" />
        <activity
            android:name=".Admin.AdministratorLogin"
            android:exported="false" />
        <activity
            android:name=".ui.Student.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Student.INTERFACE_STUDENT"
            android:exported="false" />
        <activity
            android:name=".SignUP.SignUp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>